body {
      margin: 0;
      height: 100vh; 
      display: flex;
      justify-content: center; 
      align-items: center;   
      flex-direction: column;  
      font-family: Arial, sans-serif;
      background-color: #f5f5f5;
    }

.logo {
      width: 500px;
      height: 300px;
      border-radius: 10px;
    }

.h1 {
      margin-top: 10px; 
      font-size: 24px;
      font-weight: bold;
      color: #333;
    }
